
html:not(.embedded) {
  background: #151515; }

html, body {
  background: #151515 url("") top left;
  background-size: 100% auto;
  line-height: 1.75;
  color: #ede2d5; }
  @media (min-width: 768px) {
    html, body {
      background: #151515 url("images/bg@2x.png") top left;
      background-size: 100% auto; } }

#app > div > div,
.tenant-injected-html p span {
  color: #fff !important; }

.tenant-injected-html p {
  text-align: center; }
.tenant-injected-html a {
  color: #EFB431 !important
  text-decoration: none !important; }

form {
  max-width: none !important; }
  form input {
    color: #ffffff !important; }
  form label, form div {
    color: #ede2d5 !important; }
  form a {
    color: #fc63a3 !important;
    text-decoration: none; }

h2 + .tenant-injected-html > p {
  text-align: center !important; }

h2 + .tenant-injected-html + div > div {
  height: auto !important; }

#Eventive--banner {
  margin-bottom: 1rem !important; }

/*
#app > div > div > div:nth-child(4) > div > div > div:nth-child(2) > div:nth-child(1):not(div[data-radium]) {
  display: none;
}
*/
#app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(2) > div > div > div:nth-child(2) > div:nth-child(2) > button > div, #app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(2) > div > div > div:nth-child(2) > div:nth-child(2) > button > div > div {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important; }

#app > div > div > div:nth-child(2) {
  max-width: 1280px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%); }
  #app > div > div > div:nth-child(2) > div {
    position: relative;
    z-index: 1;
    margin-top: auto !important;
    margin-bottom: auto !important; }
    #app > div > div > div:nth-child(2) > div img {
      display: block;
      height: 25px !important; }
      @media (min-width: 768px) {
        #app > div > div > div:nth-child(2) > div img {
          height: 40px !important;
          margin-top: 5px !important; } }
    #app > div > div > div:nth-child(2) > div button > div > div:not(.parallax-content), #app > div > div > div:nth-child(2) > div button > button, #app > div > div > div:nth-child(2) > div a > div > div:not(.parallax-content), #app > div > div > div:nth-child(2) > div a > button {
      background: none !important;
      border: none !important;
      padding: 0 !important; }
      #app > div > div > div:nth-child(2) > div button > div > div:not(.parallax-content) span, #app > div > div > div:nth-child(2) > div button > button span, #app > div > div > div:nth-child(2) > div a > div > div:not(.parallax-content) span, #app > div > div > div:nth-child(2) > div a > button span {
        color: #ffffff !important;
        font-size: 24px !important; }
    #app > div > div > div:nth-child(2) > div button:hover > div > div:not(.parallax-content) span, #app > div > div > div:nth-child(2) > div button:hover > button span, #app > div > div > div:nth-child(2) > div a:hover > div > div:not(.parallax-content) span, #app > div > div > div:nth-child(2) > div a:hover > button span {
}
    @media (min-width: 1024px) {
      #app > div > div > div:nth-child(2) > div:first-child button {
        border: 5px solid #1a243b !important;
        background: #febc2c !important;
        padding: 0.5rem 1rem !important;
        height: auto !important;
        line-height: 1 !important;
        text-transform: capitalize !important; }
        #app > div > div > div:nth-child(2) > div:first-child button:hover {
          background: #febc2c !important;
         } }
  #app > div > div > div:nth-child(2)::before {
    display: block;
    top: 0;
    left: -50%;
    position: absolute;
    z-index: 0;
    width: 200vw;
    height: 100%;
    background: #fc63a3;
    content: " "; }
  @media (min-width: 1024px) {
    #app > div > div > div:nth-child(2) {
      padding: 1rem 0.5rem; } }
  #app > div > div > div:nth-child(2) button > div > div {
    display: none !important; }
  #app > div > div > div:nth-child(2) button:hover > div > span {
    color: #1a243b !important; }
  #app > div > div > div:nth-child(2) button:hover > div > svg {
    fill: #1a243b !important; }

button, a {
  border-radius: 0 !important;
  height: auto !important;
  box-shadow: none !important;
  line-height: 1.75 !important;
  border: 0 !important; }
  button:focus, a:focus {
    box-shadow: none; }
  button > div > div:not(.parallax-content),
  button > button, a > div > div:not(.parallax-content),
  a > button {
    background: #ede2d5 !important;
    color: #1a243b !important;
    border-radius: 0 !important;
    border: 5px solid #1a243b !important;
    height: auto !important;
    padding: 0.25rem 1rem !important;
    box-shadow: none !important;
    line-height: 1.75 !important;
}
    button > div > div:not(.parallax-content) span,
    button > button span, a > div > div:not(.parallax-content) span,
    a > button span {
      color: #1a243b !important;
      text-transform: none !important;
      font-weight: normal !important;
      vertical-align: 0 !important; }
      @media (min-width: 1024px) {
        button > div > div:not(.parallax-content) span,
        button > button span, a > div > div:not(.parallax-content) span,
        a > button span {
          font-size: 1.1rem !important; } }
    button > div > div:not(.parallax-content) span:not(.icon-*),
    button > button span:not(.icon-*), a > div > div:not(.parallax-content) span:not(.icon-*),
    a > button span:not(.icon-*) {
     }
    button > div > div:not(.parallax-content):hover,
    button > button:hover, a > div > div:not(.parallax-content):hover,
    a > button:hover {
       }
  button:hover > div > div:not(.parallax-content),
  button:hover > button, a:hover > div > div:not(.parallax-content),
  a:hover > button {
    background: #fc63a3 !important; }
    button:hover > div > div:not(.parallax-content) span,
    button:hover > button span, a:hover > div > div:not(.parallax-content) span,
    a:hover > button span {
      color: #ffffff !important; }
    button:hover > div > div:not(.parallax-content) span:not(.icon-*),
    button:hover > button span:not(.icon-*), a:hover > div > div:not(.parallax-content) span:not(.icon-*),
    a:hover > button span:not(.icon-*) {
   }

button[disabled], div[data-reactroot] > div > div > div > div > div + div > p + div > button {
  border-radius: 0 !important;
  height: auto !important;
  box-shadow: none !important;
  line-height: 1.75 !important;
  border: 0 !important;
  opacity: 0.5 !important; }
  button[disabled] > div, div[data-reactroot] > div > div > div > div > div + div > p + div > button > div {
    background: #ede2d5 !important;
    color: #1a243b !important;
    border-radius: 0 !important;
    border: 5px solid #1a243b !important;
    height: auto !important;
    padding: 0.25rem 1rem !important;
    box-shadow: none !important;
    line-height: 1.75 !important; }
    button[disabled] > div span, div[data-reactroot] > div > div > div > div > div + div > p + div > button > div span {
      color: #1a243b !important;
      text-transform: none !important;
      font-weight: normal !important;
      vertical-align: 0 !important; }
      @media (min-width: 1024px) {
        button[disabled] > div span, div[data-reactroot] > div > div > div > div > div + div > p + div > button > div span {
          font-size: 1.1rem !important; } }

div[data-reactroot] > div > div > div > div > div + div > p + div > button {
  opacity: 1 !important;
  margin-left: 1rem !important;
  vertical-align: 2px !important; }

.eventive__wishlist-button > div > div {
  display: none !important; }

div[data-iframe-height] > div {
  border-radius: 0 !important;
  border: 5px solid #febc2c !important; }
  div[data-iframe-height] > div form input {
    color: #1a243b !important; }
  div[data-iframe-height] > div > div > div > div h2 {
    font-size: 2rem !important;
    color: #1a243b !important; }

#app > div > div > div + div + div + div > div + div > div > div > div {
  border-left: 0 !important;
  border-right: 0 !important; }

div[data-radium] > div > div > div {
  border-left: 0 !important;
  border-right: 0 !important; }

div[data-radium] > div > div.tenant-injected-html + div > div:first-child {
  background: transparent !important;
  border-radius: 0 !important; }
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child > div:nth-child(2) > div:nth-child(3) > span, div[data-radium] > div > div.tenant-injected-html + div > div:first-child > div:nth-child(2) > div:nth-child(3) > div {
    display: none; }
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child div > div,
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child div > div > span {
    color: #ede2d5 !important; }
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child input {
    color: #ede2d5 !important; }
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child .Tag {
    background: transparent !important;
    color: #0f32c9 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 2px solid #0f32c9 !important;
    padding: 0 !important;
    font-size: 0.9rem !important;
    font-style: normal !important;
    color: #fc63a3 !important;
    border-color: #fc63a3 !important; }
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child button {
    background: #fc63a3 !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    border: 5px solid #1a243b !important;
    height: auto !important;
    padding: 0.25rem 1rem !important;
    box-shadow: none !important; }
    div[data-radium] > div > div.tenant-injected-html + div > div:first-child button .icon-search {
      display: none; }
    div[data-radium] > div > div.tenant-injected-html + div > div:first-child button span {
      color: #1a243b !important;
      text-transform: none !important;
      font-weight: normal !important;
      font-size: 1.1rem !important; }
    div[data-radium] > div > div.tenant-injected-html + div > div:first-child button:hover {
      background: #ede2d5 !important; }
      div[data-radium] > div > div.tenant-injected-html + div > div:first-child button:hover span {
        color: #1a243b !important;
       }
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child label {
    color: #febc2c !important; }
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child > div:first-child {
    font-size: 2rem !important; }
    div[data-radium] > div > div.tenant-injected-html + div > div:first-child > div:first-child > div {
      display: none !important; }
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child > div:last-child {
    background: transparent; }
  div[data-radium] > div > div.tenant-injected-html + div > div:first-child + div > div:not(.EventList--EventListItem) {
    background: #0f32c9 !important;
    display: flex !important;
    font-size: 1.2rem !important;
    max-width: 300px;
    color: #ede2d5 !important;
    margin-top: 2rem; }

.EventList--EventListItem {
  background: #ede2d5 !important;
  color: #000000 !important;
  box-shadow: none !important;
  border: 5px solid #ede2d5 !important; }
  .EventList--EventListItem:hover {
    border: 5px solid #fc63a3 !important; }
  .EventList--EventListItem > div div:first-child {
    color: #1a243b !important; }
  .EventList--EventListItem > div div:nth-child(2) {
    font-size: 1.1rem !important; }
    .EventList--EventListItem > div div:nth-child(2) > div {
      margin-left: 2rem !important; }
  .EventList--EventListItem .Tag {
    display: none !important; }
  .EventList--EventListItem .eventive__wishlist-button > div > div {
    display: none !important; }
  .EventList--EventListItem .eventive__wishlist-button svg {
    fill: #fc63a3 !important; }

div[data-radium] > div > div > div > div > div.tenant-injected-html p {
  text-align: left; }
div[data-radium] > div > div > div > div > div.tenant-injected-html + div > div > a,
div[data-radium] > div > div > div > div > div.tenant-injected-html + div > div > span > a {
  text-decoration: none !important; }

#app > div > div > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4),
#app > div > div > div:nth-child(4) > div > div > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div:nth-child(4) {
  display: none; }

.Films--film_container a > div > div {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important; }
.Films--film_container a:hover > div > div {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important; }
  .Films--film_container a:hover > div > div span {
    color: #1a243b !important;
   }

.Films--film_filter_editor div {
  border-radius: 0 !important; }
.Films--film_filter_editor > div:first-child {
  background: #0f32c9 !important;
  color: #ffffff !important; }
  .Films--film_filter_editor > div:first-child input {
    background: #0f32c9 !important;
    color: #ffffff !important; }
  .Films--film_filter_editor > div:first-child svg {
    fill: #ffffff !important; }

.Films--film_filter_editor--tags {
  background: #1a243b !important;
  box-shadow: none !important; }
  .Films--film_filter_editor--tags .Tag {
    background: transparent !important;
    color: #0f32c9 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 2px solid #0f32c9 !important;
    padding: 0 !important;
    font-size: 0.9rem !important;
    font-style: normal !important;
    color: #febc2c !important;
    border-color: #febc2c !important;
    margin-right: 1rem !important; }

.Films--film_container a {
  transform: none !important; }
  .Films--film_container a div {
    transform: none !important; }
  .Films--film_container a > div:not(.parallax) {
    border-radius: 0 !important;
    padding: 1rem !important;
    background-color: transparent !important; }
    .Films--film_container a > div:not(.parallax) h1 {
      color: #0f32c9 !important;
      font-weight: normal; }
    .Films--film_container a > div:not(.parallax) h2 {
      color: #fc63a3 !important;
      font-weight: normal; }
    .Films--film_container a > div:not(.parallax) .Tag {
      background: transparent !important;
      color: #0f32c9 !important;
      border-top: 0 !important;
      border-right: 0 !important;
      border-left: 0 !important;
      border-bottom: 2px solid #0f32c9 !important;
      padding: 0 !important;
      font-size: 0.9rem !important;
      font-style: normal !important; }
.Films--film_container .parallax .parallax-front {
  background: #febc2c !important;
  height: auto !important;
  width: auto !important;
  top: auto !important;
  bottom: 0 !important;
  text-shadow: none !important;
  color: #1a243b !important;
  text-align: left !important;
  border: 5px solid #1a243b; }
  .Films--film_container .parallax .parallax-front h1 {
    padding: 1rem 1rem 0.25rem !important;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.1rem; }
  .Films--film_container .parallax .parallax-front > div {
    top: 2px !important;
    right: 0 !important; }
.Films--film_container a:hover .parallax .parallax-front {
  background: #fc63a3 !important; }

.FilmCard .Tag {
  background: transparent !important;
  color: #0f32c9 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 2px solid #0f32c9 !important;
  padding: 0 !important;
  font-size: 0.9rem !important;
  font-style: normal !important; }
.FilmCard h2 {
  color: #fc63a3 !important;
  font-weight: normal !important; }
.FilmCard .tenant-injected-html p {
  text-align: left;
  color: #1a243b; }
.FilmCard .tenant-injected-html + div + div {
  background: #ede2d5 !important;
  color: #1a243b !important;
  padding: 1rem !important;
  border: 5px solid #1a243b !important; }
  .FilmCard .tenant-injected-html + div + div a {
    color: #0f32c9 !important;
  }
.FilmCard button[type=button] {
  background: #fc63a3 !important;
  color: #1a243b !important;
  border-radius: 0 !important;
  border: 5px solid #1a243b !important;
  min-height: 40px !important;
  padding: 0.25rem 1rem !important;
  box-shadow: none !important; }
  .FilmCard button[type=button] span {
    color: #1a243b !important;
    text-transform: none !important;
    font-weight: normal !important; }
    @media (min-width: 1024px) {
      .FilmCard button[type=button] span {
        font-size: 1.1rem !important; } }
  .FilmCard button[type=button]:hover span {
    color: #ffffff !important; }

.FilmCard .eventive__wishlist-button svg {
  fill: #fc63a3 !important; }
.FilmCard div > div ul li {
  margin-bottom: 1rem !important; }
  .FilmCard div > div ul li div {
    color: #1a243b !important; }
  .FilmCard div > div ul li div:first-child {
    color: #0f32c9 !important;
  }
.FilmCard + div > div > a,
.FilmCard + div > div > span > a {

  text-decoration: none !important; }

.eventive__ticket-button__container .eventive__wishlist-button svg {
  fill: #fc63a3 !important; }

div[role="menu"] a > div > div:not(.parallax-content) {
  background: transparent !important;
  color: #1a243b !important;
  border-radius: 0 !important;
  border: 0 !important;
  height: auto !important;
  padding: 0 24px !important;
  box-shadow: none !important;
  line-height: 1.75 !important; }

.Eventive--tickets {
  background: #0f32c9;
  color: #ffffff; }
  .Eventive--tickets > div {
    color: #ffffff !important; }
  .Eventive--tickets > div {
    background: #ede2d5; }
    .Eventive--tickets > div:first-child {
      background: transparent; }
  .Eventive--tickets svg + div > div div:last-child {
    background: transparent !important;
    box-shadow: none !important; }
  .Eventive--tickets input {
    color: #ffffff !important; }
  .Eventive--tickets button {
    background: #ede2d5 !important;
    color: #1a243b !important;
    border-radius: 0 !important;
    border: 5px solid #1a243b !important;
    height: auto !important;
    padding: 0.25rem !important;
    box-shadow: none !important;
    vertical-align: 2px;
    transition: none !important; }
    @media (min-width: 1024px) {
      .Eventive--tickets button {
        padding: 0.25rem 1rem !important; } }
    .Eventive--tickets button span {
      vertical-align: 0 !important;
      text-transform: none !important;
      font-size: 0.8rem !important;
      font-weight: normal !important; }
      @media (min-width: 1024px) {
        .Eventive--tickets button span {
          font-size: 1.1rem !important; } }
    .Eventive--tickets button span.icon-qrcode {
      display: none !important;
      line-height: 1 !important; }
      @media (min-width: 1024px) {
        .Eventive--tickets button span.icon-qrcode {
          display: inline-block !important; } }
    .Eventive--tickets button:hover {
      background: #fc63a3 !important; }
      .Eventive--tickets button:hover span {
        color: #ffffff !important; }
        .Eventive--tickets button:hover span.icon-qrcode {
          font-family: icomoon !important;
          line-height: 1 !important; }
    .Eventive--tickets button > div > div {
      background: transparent !important;
      padding: 0 !important;
      border: 0 !important;
      transition: none !important; }
  .Eventive--tickets.Eventive--tickets--hasTickets > div + div > div + div > div > div > div > div {
    background: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    margin-right: 0.1rem; }
    @media (min-width: 1024px) {
      .Eventive--tickets.Eventive--tickets--hasTickets > div + div > div + div > div > div > div > div {
        margin-right: 0.5rem; } }
  .Eventive--tickets.Eventive--tickets--hasTickets > div + div > div > div > div > div + div + div {
    margin-bottom: 0.5rem !important; }

#passes,
#ticket-bundles {
  text-align: left !important;
  font-weight: normal !important;
  font-size: 2rem !important; }

#passes + .tenant-injected-html,
#ticket-bundles + .tenant-injected-html {
  margin: 0 !important; }
  #passes + .tenant-injected-html > br,
  #ticket-bundles + .tenant-injected-html > br {
    display: none !important; }
  #passes + .tenant-injected-html + div,
  #ticket-bundles + .tenant-injected-html + div {
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 -1rem !important; }
    #passes + .tenant-injected-html + div > div,
    #ticket-bundles + .tenant-injected-html + div > div {
      border: 0 !important;
      background: #febc2c !important;
      padding: 1rem !important;
      margin: 1rem !important;
      color: #1a243b !important;
      text-align: left !important; }
      #passes + .tenant-injected-html + div > div:first-child,
      #ticket-bundles + .tenant-injected-html + div > div:first-child {
        background: #fc63a3 !important; }
      #passes + .tenant-injected-html + div > div:last-child,
      #ticket-bundles + .tenant-injected-html + div > div:last-child {
        background: #2dfd66 !important; }
      #passes + .tenant-injected-html + div > div > h4,
      #ticket-bundles + .tenant-injected-html + div > div > h4 {
        text-align: left !important;
        font-weight: normal;
        text-transform: none !important;
        margin: 0 !important; }
      #passes + .tenant-injected-html + div > div .tenant-injected-html p,
      #ticket-bundles + .tenant-injected-html + div > div .tenant-injected-html p {
        text-align: left !important;
        font-size: 0.8rem !important; }
      #passes + .tenant-injected-html + div > div .tenant-injected-html + div,
      #ticket-bundles + .tenant-injected-html + div > div .tenant-injected-html + div {
        text-align: left !important;
        margin-top: 3rem !important; }

#ticket-bundles + .tenant-injected-html {
  margin: 0 !important; }
  #ticket-bundles + .tenant-injected-html > br {
    display: none !important; }
  #ticket-bundles + .tenant-injected-html + div {
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 -1rem !important; }
    #ticket-bundles + .tenant-injected-html + div > div:last-child {
      background: #0f32c9 !important;
      color: #ffffff !important; }
      @media (min-width: 1280px) {
        #ticket-bundles + .tenant-injected-html + div > div:last-child {
          max-width: 281px; } }
    #ticket-bundles + .tenant-injected-html + div + div.tenant-injected-html {
      max-width: none !important; }

.Eventive--passes > div:first-child {
  color: #ede2d5 !important; }
  .Eventive--passes > div:first-child a {
    color: #fc63a3 !important;
    text-decoration: none !important;
    font-weight: normal !important; }

.Eventive--passes > div + div > div > div {
  background: #ede2d5;
  margin-bottom: 0.5rem; }
  .Eventive--passes > div + div > div > div button {
    background: #ede2d5 !important;
    color: #1a243b !important;
    border-radius: 0 !important;
    border: 5px solid #1a243b !important;
    height: auto !important;
    padding: 0.25rem !important;
    box-shadow: none !important;
    vertical-align: 2px;
    transition: none !important; }
    @media (min-width: 1024px) {
      .Eventive--passes > div + div > div > div button {
        padding: 0.25rem 1rem !important; } }
    .Eventive--passes > div + div > div > div button span {
      vertical-align: 0 !important;
      text-transform: none !important;
      font-size: 0.8rem !important;
      font-weight: normal !important; }
      @media (min-width: 1024px) {
        .Eventive--passes > div + div > div > div button span {
          font-size: 1.1rem !important; } }
    .Eventive--passes > div + div > div > div button span.icon-qrcode {
      display: none !important;
      line-height: 1 !important; }
      @media (min-width: 1024px) {
        .Eventive--passes > div + div > div > div button span.icon-qrcode {
          display: inline-block !important; } }
    .Eventive--passes > div + div > div > div button:hover {
      background: #fc63a3 !important; }
      .Eventive--passes > div + div > div > div button:hover span {
        color: #ffffff !important; }
        .Eventive--passes > div + div > div > div button:hover span.icon-qrcode {
          line-height: 1 !important; }
    .Eventive--passes > div + div > div > div button > div > div {
      background: transparent !important;
      padding: 0 !important;
      border: 0 !important;
      transition: none !important; }


